<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Run</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="name">Username</ion-input>
  <ion-input required placeholder="Enter run-id to join!" [(ngModel)]=runToJoin></ion-input>
  <button ion-button icon-start (click)="joinRun()">
    <ion-icon name="add"></ion-icon>
    Join!
  </button>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="show" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
